Repository FuroYT/Taniere-Funkin, changes with the labels that .github/labeler.yml gives for each.
All labels: pr: state, pr: haxe, pr: song

.github/labeler.yml:

'pr: state':
- changed-files:
  - any-glob-to-any-file:
      - data/states/*

'pr: haxe':
- changed-files:
  - any-glob-to-any-file: '**/*.hx'

'pr: song':
- changed-files:
  - any-glob-to-any-file:
      - songs/*

qsd
  data/characters/valouse_placeholder.xml
  images/characters/valouse_placeholder.png
  images/characters/valouse_placeholder.xml
Labels: none

base
  data/stages/themePark.hx
  data/stages/themePark.xml
  images/Readme.txt
  images/characters/Readme.txt
  images/credits/Readme.txt
  images/dialogue/Readme.txt
  images/editors/Readme.txt
  images/game/Readme.txt
  images/game/cutscenes/Readme.txt
  images/game/notes/Readme.txt
  images/game/splashes/Readme.txt
  images/icons/Readme.txt
  images/menus/Readme.txt
  images/menus/mainmenu/Readme.txt
  images/menus/options/Readme.txt
  images/menus/storymenu/Readme.txt
  images/menus/storymenu/characters/Readme.txt
  images/menus/storymenu/difficulties/Readme.txt
  images/menus/storymenu/weeks/Readme.txt
  images/menus/titlescreen/Readme.txt
  images/stages/Readme.txt
  images/stages/park/bg.png
  music/Readme.txt
  songs/Readme.txt
  songs/templateScript.hx
  sounds/ReadMe.txt
Labels: pr: haxe, pr: song

Branch Affiché dans le debug
  data/global.hx
Labels: pr: haxe

Transition + Menu
  data/config/modpack.ini
  data/customTransition.hx
  data/states/TaniereMenu.hx
  fonts/Wonder.ttf
  fonts/WonderBold.ttf
  images/transition/spikes.png
  shaders/clipping.frag
  shaders/skew.vert
Labels: pr: state, pr: haxe

Update customTransition.hx
  data/customTransition.hx
Labels: pr: haxe

Transition + Menu
  data/config/modpack.ini
  data/customTransition.hx
  data/states/TaniereMenu.hx
  fonts/Wonder.ttf
  fonts/WonderBold.ttf
  images/transition/spikes.png
  shaders/clipping.frag
  shaders/skew.vert
Labels: pr: state, pr: haxe

Update customTransition.hx
  data/customTransition.hx
Labels: pr: haxe

Update themePark.hx
  data/stages/themePark.hx
Labels: pr: haxe

placeholder song and chart and 1,2,3,go sound ahh ahh
  data/characters/valouse_placeholder.xml
  fonts/WonderBold.ttf
  songs/Place and holder/charts/Normal.json
  songs/Place and holder/events.json
  songs/Place and holder/meta.json
  sounds/intro1.ogg
  sounds/intro2.ogg
  sounds/intro3.ogg
  sounds/introGo.ogg
Labels: none

stages
  data/stages/holder.hx
  data/stages/holder.xml
  images/characters/stages/sol.png
Labels: pr: haxe

test 2
  data/stages/holder.hx
  images/characters/stages/sol.png
  images/stages/fire.xml
  images/stages/sol.png
  songs/Place and holder/charts/Normal.json
Labels: pr: haxe

fix
  data/characters/valouse_placeholder_xd.xml
Labels: none

Lache Ca
  data/states/TaniereMenu.hx
  data/states/YasMode.hx
  images/yasMode/Retro_Yas.png
  images/yasMode/Retro_Yas.xml
  source/YasPlatformer.hx
Labels: pr: state, pr: haxe

ccc
  songs/Place and holder/charts/Normal.json
Labels: none

caca prout
  images/yasMode/Retro_Yas.png
  images/yasMode/Retro_Yas.xml
Labels: none

Create hud.png
  images/stages/hud.png
Labels: none

ca tiens la route
  data/global.hx
Labels: pr: haxe

Retro yas
  images/yasMode/Retro_Yas.png
  images/yasMode/Retro_Yas.xml
Labels: none

icon connard
  data/characters/valouse_placeholder.xml
  data/characters/valouse_placeholder_xd.xml
  images/icons/bfph/data.xml
  images/icons/bfph/icon.png
  images/icons/bfph/icon.xml
  images/icons/valouse/data.xml
  images/icons/valouse/icon.png
  images/icons/valouse/icon.xml
  images/icons/valousexe/data.xml
  images/icons/valousexe/icon.png
  images/icons/valousexe/icon.xml
Labels: none

sdfsdf
  images/characters/Place and Holder.png
Labels: none

erterterte
  images/stages/bg.png
Labels: none

M
  images/stages/M.png
  images/stages/M.xml
Labels: none

tacos yas viande
  images/yasMode/Retro_Yas.png
  images/yasMode/Retro_Yas.xml
Labels: none

bf
  data/characters/bfph.xml
  images/characters/Bf.png
  images/characters/Bf.xml
  songs/Place and holder/charts/Normal.json
Labels: none

Update meta.json
  songs/Place and holder/meta.json
Labels: none

Nonsense type shit
  data/states/YasMode.hx
  ndlls/transparent-windows.ndll
  sounds/vanish.ogg
  source/YasPlatformer.hx
Labels: pr: state, pr: haxe

Sweet Way V2
  songs/Lache Ca/charts/hard.json
  songs/Lache Ca/meta.json
  songs/Lache Ca/song/Inst.ogg
  songs/Lache Ca/song/Voices-Opponent.ogg
  songs/Lache Ca/song/Voices-Player.ogg
Labels: none

Update hard.json
  songs/Lache Ca/charts/hard.json
Labels: none

caca
  songs/lache-ca/charts/hard.json
  songs/lache-ca/meta.json
Labels: none

BF Custom
  data/characters/BF-customyas.xml
  images/characters/BFcustomyas/Animation.json
  images/characters/BFcustomyas/spritemap1.json
  images/characters/BFcustomyas/spritemap1.png
  songs/Lache Ca/charts/hard.json
  songs/Lache Ca/meta.json
  songs/lache-ca/charts/hard.json
  songs/lache-ca/song/Inst.ogg
  songs/lache-ca/song/Voices-Opponent.ogg
  songs/lache-ca/song/Voices-Player.ogg
Labels: none

Create events.json
  songs/lache-ca/events.json
Labels: none

sum shit
  data/characters/bf-noob.xml
  data/characters/noob.xml
  data/stages/crossroads.xml
  fonts/ComicNeue-Bold.ttf
  images/characters/bf-noob.png
  images/characters/bf-noob.xml
  images/characters/noob.png
  images/characters/noob.xml
  images/stages/bloxxstuff/bg.png
  images/stages/bloxxstuff/gf.png
  images/ui/healthtxt.png
  songs/rbx/charts/normal.json
  songs/rbx/meta.json
  songs/rbx/scripts/pixel.hx
  songs/rbx/scripts/roblox_UI.hx
Labels: pr: haxe

noteskin
  images/ui/arrowEnds.png
  images/ui/arrows-pixels.png
  songs/rbx/scripts/noteskin.hx
  songs/rbx/scripts/pixel.hx
  songs/rbx/scripts/roblox_UI.hx
Labels: pr: haxe

cocming lol
  songs/rbx/charts/normal.json
Labels: none

chart cote bf fini
  songs/rbx/charts/normal.json
Labels: none

hop
  data/scripts/deathrblx.hx
  images/ui/arrowEnds.png
  images/ui/arrows-pixels.png
  images/ui/ohnoes.png
  songs/rbx/scripts/noteskin.hx
  songs/rbx/scripts/roblox_UI.hx
  sounds/rblx_dead.ogg
Labels: pr: haxe

cote noob quasi fini fini
  songs/rbx/charts/normal.json
Labels: none

more event
  songs/rbx/charts/normal.json
Labels: none

chart ternimer
  songs/rbx/charts/normal.json
Labels: none

MORE EVENT
  songs/rbx/charts/normal.json
Labels: none
